<a href="https://colab.research.google.com/github/jerriljacob369/Introduction-to-Python/blob/main/Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark=int(input())

50

In [2]:
mark=int(input())
if mark >50 :
 print("You are passed")
if mark <50 :
 print("You are failed")

69
You are passed

In [3]:
mark=int(input())
if mark >50 :
  print("You are passed")
if mark ==50 :
  print("You are just passed")

50
You are just passed

In [4]:
salary=int(input())
if salary >250000 :
  print("Salary taxable")
if salary <250000 :
  print("Salary non taxable")

300000
Salary taxable

In [5]:
salary=int(input())
if salary >250000 :
  print("Salary taxable")
  print(salary*10/100)
if salary <250000 :
  print("Salary non taxable")

300000
Salary taxable
30000.0

In [6]:
salary=int(input())
if salary >250000 :
  print("Salary taxable")
  print((salary-250000)*10/100)
if salary <250000 :
  print("Salary non taxable")

500000
Salary taxable
25000.0

In [7]:
salary=int(input())
if salary >250000 and salary <500000 :
  print("Salary taxable")
  print(salary*10/100)
if salary >=500000 :
  print("Salary taxable")
  print(salary*20/100)
else :
  print("Salary non taxable")

600000
Salary taxable
120000.0

In [8]:
salary=int(input())
if salary >250000 and salary <500000 :
  print("Salary taxable")
  print((salary-250000)*10/100)
if salary >=500000 :
  print("Salary taxable")
  print((salary-250000)*20/100)
else :
  print("Salary non taxable")

600000
Salary taxable
70000.0

In [9]:
salary=int(input())
if

SyntaxError: ignored