<a href="https://colab.research.google.com/github/jerriljacob369/Introduction-to-Python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input("Enter the number to display the corresponding multiplication table"))
for i in range(1,11):
  print(i*num)

Enter the number to display the corresponding multiplication table5
5
10
15
20
25
30
35
40
45
50

In [6]:
n=input("Enter a number")
len(n)

Enter a number35544

5

In [7]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

5
5
10
15
20
25
30
35
40
45
50

In [9]:
num=input("Enter the number")
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

Enter the number1243
4

In [10]:
x=input('Enter a string ')
a=""
for i in x:
  a=i+a
print(a)
if x==a:
  print('TRUE')
else:
  print('FALSE ')

Enter a string hujmu
umjuh
FALSE

In [11]:
x=input('Enter a string ')
a=""
for i in x:
  a=i+a
print(a)
if x==a:
  print('TRUE')
else:
  print('FALSE ')

Enter a string malayalam
malayalam
TRUE