<a href="https://colab.research.google.com/github/jerriljacob369/Introduction-to-Python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=input("passenger's travel source")
y=input("travel destination")
z=input("number of passengers")
print(x,y,z)

passenger's travel sourceBus
travel destinationAlappuzha
number of passengers10
Bus Alappuzha 10

In [3]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers "))
Totalfare=print(x/z)

Total ticket fare 500
No of Passengers 10
50.0

In [4]:
x=input("Passengers Name ")
y=int(input("Ticket fare "))
print(x,y)

Passengers Name Jomy
Ticket fare 100
Jomy 100

In [6]:
x=int(input("Total TIcket Fare "))
if x>10000:
  print("Eligible for discount")

Total TIcket Fare 20000
Eligible for discount

In [7]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total TIcket Fare 20000
Eligible for 20% discount

In [8]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
  print(x*20/100)
else:
  print("Eligible for 10% discount")
  print(x*10/100)

Total TIcket Fare 14000
Eligible for 10% discount
1400.0

In [9]:
x=int(input("Enter A Number "))
if x%2==0:
  print("The Number is Even")
elif x%2!=0:
  print("The Number is Odd")
else:
  print("Number is Zero")

Enter A Number 5
The Number is Odd

In [10]:
x=int(input("Enter A Number "))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter A Number 3
Positive

In [11]:
x=int(input("Age of Passenger "))
if x>17:
  print("Adult")
elif x>12 and x<17:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger 15
Teenager

In [12]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial B
Not Vowel

In [13]:
x=input("Enter Your Name ")
for a in x:
  print(a)

Enter Your Name Jomy
J
o
m
y

In [14]:
x=0
for a in range(1,6):
  x=x+a
  print(a,x)

1 1
2 3
3 6
4 10
5 15